<div class="out-panel">
  <div class="card col-md-3">
    <form #loginForm="ngForm" autocomplete="off">
      <div class="card-block">
        <h1>登录</h1>
        <p class="text-muted">Sign In to your account</p>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入用户名" name="usernameInput" [(ngModel)]="username" required/>
        </div>
        <div class="input-group mb-4">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input type="password" class="form-control" placeholder="请输入密码" name="passInput" [(ngModel)]="password" required/>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-primary px-4" [disabled]="!loginForm.form.valid" (click)="toLogin(username, password)">登录</button>
          </div>
          <div class="col-3 text-right">
            <button type="button" class="btn btn-link px-0" routerLink="/home">忘记密码</button>
          </div>
          <div class="col-3 text-right">
            <button type="button" class="btn btn-link px-0" routerLink="/register">立即注册</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>