<div class="out-panel">
  <div class="card col-md-3">
    <form #registerForm="ngForm" autocomplete="off">
      <div class="card-block">
        <h1 class="mb-3">注册</h1>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入姓名" name="realNameInput" [(ngModel)]="realName" (blur)="toRealNameAndJobNum(realName, jobNum)" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-bookmark fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入工号" name="jobNumInput" [(ngModel)]="jobNum" (blur)="toRealNameAndJobNum(realName, jobNum)" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入用户名" name="nameInput" [(ngModel)]="name" (blur)="toOnlyUsername(name)" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input type="password" class="form-control" placeholder="请输入密码" name="passInput" [(ngModel)]="pass" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-repeat fa-fw"></i></span>
          <input type="password" class="form-control" placeholder="请重复密码" name="repeatPassInput" [(ngModel)]="repeatPass" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入邮箱" name="emailInput" [(ngModel)]="email" pattern="\w+\@\w+(\.\w+)*\.(com|net|edu|cn|info|gov|au)$" required/>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="请输入手机号" name="phoneInput" [(ngModel)]="phone" minlength="11" maxlength="11" required/>
        </div>
        <div class="row">
          <div class="col-8">
            <button type="button" class="btn btn-primary px-4" [disabled]="!registerForm.form.valid" (click)="toRegister(realName, jobNum, name, pass, email, phone)">注册</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-link px-0" routerLink="/login">立即登录</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>