<div class="layout">
  <header>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <img src="assets/images/logo.png" alt=""/>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item" *ngFor="let item of menuItem" [ngClass]="{dropdown: item.children}">
            <ng-container *ngIf="!(item.children)">
              <a class="nav-link" href="#">{{item.menuName}}</a>
            </ng-container>
            <ng-container *ngIf="item.children">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{item.menuName}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" *ngFor="let child of item.children">
                  {{child.menuName}}
                </a>
              </div>
            </ng-container>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/courses">全部课程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/forum">论坛</a>
          </li>
        </ul>
        <form class="form-inline my-lg-0 form-search">
          <input class="form-control mr-sm-2 search" type="text" placeholder=" 搜索课程/问题" [(ngModel)]="searchInput" name="search"/>
          <i class="fa fa-search" (click)="toSearch(searchInput)"></i>
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="toSearch(searchInput)">搜索</button>-->
        </form>
        <ul class="navbar-nav">
          <ng-container *ngIf="isLogged">
            <li class="nav-item">
              <a class="nav-link" (click)="toLogout()">注销</a>
            </li>
          </ng-container>
          <ng-container *ngIf="!isLogged">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">注册</a>
            </li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span>Copyright &copy; 版权所有</span>
  </footer>
</div>