<header>
  <nav class="navbar navbar-toggleable-md navbar-light fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" routerLink="">Brand</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            课程
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">全部课程</a>
            <a class="dropdown-item" href="#">学习路径</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">比赛</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">讨论</a>
        </li> -->
        <li class="nav-item" *ngFor="let item of menuItem" [ngClass]="{dropdown: item.children}">
          <ng-container *ngIf="!(item.children)">
            <a class="nav-link" href="#">{{item.menuName}}</a>
          </ng-container>
          <ng-container *ngIf="item.children">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.menuName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" *ngFor="let child of item.children">
                {{child.menuName}}
              </a>
            </div>
          </ng-container>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/courses">全部课程</a>
        </li>
      </ul>
      <form class="form-inline my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="搜索">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">登录</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">注册</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
