<div class="row">
    <div class="col-9">
        <div class="whiteLabel posts">
            <div class="title clearfix">
                <h4 class="to-left">这是什么情况</h4>
                <div class="posts-info to-right">
                    <span class="num">5</span>
                    <span class="num-name">回复</span>
                    <span class="num">100</span>
                    <span class="num-name">查看</span>
                </div>
            </div>
            <div class="person-info clearfix">
                <div class="image to-left">
                    <img src="assets/images/1.jpg" alt=""/>
                </div>
                <div class="name to-left">
                    mrn_huang
                </div>
                <div class="time to-left">
                    2017-6-20 08:15
                </div>
            </div>
            <div class="content">
                <p>
                    1. 环境保存（标准及高级会员专享）<br/>
                    再也不用担心实验没做完环境被删，不用每次开始实验都从头做一遍，不会因为忘记提交而丢失代码了。<br/>
                    会员可保存一个实验环境，拥有一套独享的云端开发环境，随时随地继续实验。<br/>
                </p>
            </div>
            <div class="comment">
                <div class="header">全部回复</div>
                <div class="comment-item">
                    
                </div>
            </div>
        </div>
        <div [froalaEditor]="option" [(froalaModel)]="froalaText"></div>
        <button type="button" class="btn btn-secondary" (click)="commitComment(froalaText)">确定</button>
    </div>
    <div class="col-3">
        <div class="whiteLabel">
            右边
        </div>
    </div>
</div>