.course-content .course-label .course-label-item {
  border-bottom: 1px solid #edf1f2;
}

.course-content .course-label .course-label-item:last-child {
  border-bottom: none;
}

.course-card-content{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.coures-card-item{
  padding: 10px;
}

.course-more .breadcrumb{
  background-color: white;
  border-bottom: 1px solid #eee;
}

.breadcrumb .breadcrumb-item {
  color: #787d82;
  cursor: pointer;
}

.breadcrumb .breadcrumb-item.active {
  color: black;
}

.course-content .course-more nav {
  margin-top: 30px;
  margin-bottom: 50px;
}

nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.whiteLabel {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #eee;
  overflow: hidden;
}

.page-link {
  cursor: pointer;
}