<div class="row">
    <div class="col-9">
        <div class="whiteLabel">
            <div class="forum-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">推荐</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最新</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">等待回答</a>
                    </li>
                </ul>
            </div>
            <div class="forum">
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
                <div class="question">
                    <h-question></h-question>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="whiteLabel">
            右边
        </div>
    </div>
</div>