.forum-nav {
    border-bottom: 2px solid #d0d6d9;
}

.question {
    padding: 20px 10px;
    border-bottom: 1px solid #d0d6d9;
}

.nav-link {
    cursor: pointer;
}

.nav-link.nav-active {
    /*border-bottom: 2px solid rgba(0,204,153,.7);*/
    border-bottom: 2px solid #0275d8;
    margin-bottom: -2px;
}

nav {
  margin-top: 30px;
  margin-bottom: 50px;
}

nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-link {
    cursor: pointer;
}

.send-ask {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.recommend {
    padding: 10px 10px 0 10px;
}

.recommend ul {
    margin-bottom: 0;
}

.recommend li {
    margin-bottom: 10px;
    cursor: pointer;
}

.recommend li:hover {
    color: #4b96dc;
}

.recommend li:last-child {
    margin-bottom: 0;
}