<div class="side">
  <ul class="side-list">
    <li class="side-item" *ngFor="let item of homeSideArr">
      <div class="side-item-head">
        <span>{{item['navigationName']}}</span>
      </div>
      <div class="side-item-content">
        <span class="badge badge-default">{{item['navigationName']}}</span>
        <div class="classify">
          <ng-container *ngIf="item['tagList'].length > 0">
            <span *ngFor="let i of item['tagList']">
              {{i['tagName']}}
            </span>
          </ng-container>
          <ng-container *ngIf="item['tagList'].length == 0">
            <div class="empty">empty</div>
          </ng-container>
        </div>
        <span class="badge badge-default">课程推荐</span>
        <div>
          <div class="empty">empty</div>
        </div>
      </div>
    </li>
  </ul>
  <!-- <button type="button" class="btn btn-secondary side-btn">学习路径</button>
  <button type="button" class="btn btn-secondary side-btn">软件库</button> -->
</div>
