<div class="side">
  <ul class="side-list">
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
    <li class="side-item">
      <div class="side-item-head">
        <span>后端开发</span>
        <a href="">Python</a>
        <a href="">C/C++</a>
      </div>
      <div class="side-item-content">
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
        后端开发<br/>
        课程推荐<br/>
      </div>
    </li>
  </ul>
  <button type="button" class="btn btn-secondary side-btn">学习路径</button>
  <button type="button" class="btn btn-secondary side-btn">软件库</button>
</div>
