a:hover {
  text-decoration: none;
}

.question .image {
    width: 50px;
    height: 50px;
}

.question .title {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: black;
}

.question .title:hover {
    color: #4b96dc;
}

.question .info {
    font-size: 15px;
    color: #9b9da2;
    margin-top: 5px;
}

.question .info button {
    font-size: 13px;
    padding: 3px 5px;
    cursor: pointer;
}

.question .info span {
    margin-right: 6px;
}

.num {
    line-height: 30px;
    text-align: center;
}

.num-name {
    text-align: center;
}

.image img {
    width: 100%;
    height: 100%;
}