<div class="row question">
    <div class="col-1">
        <div class="image">
            <img src="assets/images/question.jpg" alt=""/>
        </div>
    </div>
    <div class="col-9">
        <div class="title" (click)="goDetail()">
            这是什么情况
        </div>
        <div class="info">
            <button type="button" class="btn btn-secondary" (click)="goDetail()">撰写答案</button>
            <span class="questioner">
                mrn_huang
            </span>
            <span class="time">
                1天前
            </span>
            <span>
                最后回复
            </span>
            <span class="respondent">
                Cloud君
            </span>
        </div>
    </div>
    <div class="col-1">
        <div class="num">
            0
        </div>
        <div class="num-name">
            回复
        </div>
    </div>
    <div class="col-1">
        <div class="num">
            5
        </div>
        <div class="num-name">
            查看
        </div>
    </div>
</div>