<div class="row question" *ngIf="question">
    <div class="col-1">
        <div class="image">
            <img src="assets/images/question.jpg" alt=""/>
        </div>
    </div>
    <div class="col-9">
        <!--<div class="title" (click)="goDetail()">
            这是什么情况
        </div>-->
        <a class="title" href="/posts" target="_blank">
            {{question['title']}}
        </a>
        <div class="info">
            <!--<button type="button" class="btn btn-secondary" (click)="goDetail()">撰写答案</button>-->
            <a href="/posts" class="btn btn-secondary" target="_blank">撰写答案</a>
            <span class="questioner">
                {{question['questioner']}}
            </span>
            <span class="time">
                {{question['time']}}
            </span>
            <span>
                最后回复
            </span>
            <span class="respondent">
                {{question['lastAnswer']}}
            </span>
        </div>
    </div>
    <div class="col-1">
        <div class="num">
            {{question['replyNum']}}
        </div>
        <div class="num-name">
            回复
        </div>
    </div>
    <div class="col-1">
        <div class="num">
            {{question['viewNum']}}
        </div>
        <div class="num-name">
            查看
        </div>
    </div>
</div>