.title {
  font-size: 23px;
}

.filter {
  cursor: pointer;
}

.filter::after {
  content: '|';
  display: inline-block;
}

.home-course {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.home-course-item {
  margin: 10px 0;
}

.home-course-img {
  width: 523px;
  height: 220px;
  margin: 10px 0;
}

.home-course-img img {
  width: 100%;
  height: 100%;
}
