.type-header {
  margin-bottom: 10px;
}

.type-header span {
  font-size: 20px;
  font-weight: 200;
}

.type-header a {
  color: #93999f;
  text-align: center;
  margin-right: 10px;
}

.type-header a i{
  margin-left: 10px;
}

.type-filter {
  font-size: 16px !important;
  margin-left: 10px;
  cursor: pointer;
}

.type-filter::after {
  content: '|';
  display: inline-block;
}

.type-header .type-filter:last-child::after {
  content: ' ';
  display: inline-block;
}

.type-content {
  margin-bottom: 20px;
}

.type-content .type-content-item {
  margin-right: 63px;
}

.type-content .type-content-item:last-child {
  margin-right: 0px;
}

.type-content .type-content-item-image {
  width: 523px;
  height: 220px;
}

.type-content .type-content-item-image img {
  width: 100%;
  height: 100%;
}
