<div class="container-type">
  <div class="type-header">
    <span>{{name}}</span>
    <ng-container *ngIf="filter">
      <span *ngFor="let i of filter" class="type-filter">
        {{i}}
      </span>
    </ng-container>
    <a href="" class="to-right">更多<i class="fa fa-angle-right"></i></a>
  </div>
  <ng-container *ngIf="first">
    <div class="type-content clearfix">
      <div class="type-content-item to-left type-content-item-image">
        <img src="assets/images/cardCourse.png" alt=""/>
      </div>
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseArr[1]"></h-card-course>
      </div>
    </div>
    <div class="type-content clearfix">
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseArr[2]"></h-card-course>
      </div>
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseArr[3]"></h-card-course>
      </div>
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseArr[4]"></h-card-course>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!first">
    <div class="type-content clearfix">
      <div class="type-content-item to-left" *ngFor="let item of courseArr">
        <h-card-course [courseItem]="item"></h-card-course>
      </div>
      <!--<div class="type-content-item to-left">
        <h-card-course [courseItem]="courseItem"></h-card-course>
      </div>
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseItem"></h-card-course>
      </div>
      <div class="type-content-item to-left">
        <h-card-course [courseItem]="courseItem"></h-card-course>
      </div>-->
    </div>
  </ng-container>
</div>
