/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: #f9f9f9 !important;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.whiteLabel {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #eee;
  overflow: hidden;
}
