<div class="row">
  <div class="video-show col-9">
    <div class="video-content">
      <div class="video-play">
        <h-play-video [src]="src"></h-play-video>
      </div>
      <div class="video-comment whiteLabel">
        最新评论
        <div class="video-comment-item" *ngFor="let item of commentArr">
          <h-comment [commentItem]="item"></h-comment>
        </div>
        <!-- <div class="video-comment-item">
          <h-comment></h-comment>
        </div>
        <div class="video-comment-item">
          <h-comment></h-comment>
        </div>
        <div class="video-comment-item">
          <h-comment></h-comment>
        </div>
        <div class="video-comment-item">
          <h-comment></h-comment>
        </div>
        <div class="video-comment-item">
          <h-comment></h-comment>
        </div>
        <div class="video-comment-item">
          <h-comment></h-comment>
        </div> -->
      </div>
    </div>
  </div>
  <div class="video-side col-3">
    asd
  </div>
</div>
