<div class="row">
    <div class="col-lg-9 col-12">
        <div class="whiteLabel">
            <h2 class="ask-item">提问</h2>
            <div class="row ask-item">
                <div class="col-1">
                    <span>标题</span>
                </div>
                <div class="col-11">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="请用一句话描述你的问题" aria-describedby="sizing-addon1"/>
                    </div>
                </div>
            </div>
            <div class="row ask-item">
                <div class="col-1">
                    <span>正文</span>
                </div>
                <div class="col-11">
                    <div [froalaEditor]="option" [(froalaModel)]="froalaText"></div>
                </div>
            </div>
            <div class="row ask-item">
                <div class="col-1">
                    <span>板块</span>
                </div>
                <div class="col-11">
                    <input type="radio" name="type" [(ngModel)]="type" value="1" checked/>交流讨论
                    <input type="radio" name="type" [(ngModel)]="type" value="2"/>技术分享
                </div>
            </div>
            <div class="row ask-item">
                <!--<div class="col-1">
                    <span>校验</span>
                </div>-->
                <div class="col-12 clearfix">
                    <!--<input type="text" placeholder="请输入校验码" [(ngModel)]="check" name="check" aria-describedby="sizing-addon1"/>-->
                    <button type="button" class="btn btn-secondary to-right" (click)="toRelease(title, froalaText, type)">发布</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-12">
        <div class="whiteLabel">
            提问的注意事项
        </div>
    </div>
</div>