.news-header {
  margin-bottom: 10px;
}

.title {
  font-size: 23px;
}

.news-header a {
  color: #93999f;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.news-header a:hover {
  color: #4b96dc;
}

.news-header a i{
  margin-left: 10px;
}

.news-content .news-content-item {
  border-bottom: 1px solid #93999f;
  margin-top: 5px;
  padding: 0 0 6px 10px;
  cursor: pointer;
}

.news-content .news-content-item:hover {
  color: #4b96dc;
}

.news-content .news-content-item:last-child {
  border-bottom: none;
}
