.news-header {
  margin-bottom: 10px;
}

.news-header span {
  font-size: 20px;
  font-weight: 200;
}

.news-header a {
  color: #93999f;
  text-align: center;
  margin-right: 10px;
}

.news-header a i{
  margin-left: 10px;
}

.news-content .news-content-item {
  border-bottom: 1px solid #93999f;
  margin-top: 5px;
  padding: 0 0 6px 10px;
}

.news-content .news-content-item:last-child {
  border-bottom: none;
}
