.home {
  position: relative;
}

.carousel {
  width: 100%;
  height: 460px;
  position: relative;
}

.carousel .carousel-indicators li{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  max-width: 12px;
}

.carousel .carousel-inner {
  width: 100%;
  height: 460px;
}

.carousel-item img {
  width: 100%;
  height: 460px;
}

.title {
  font-size: 23px;
}

/*.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.featured-img {
  flex: 2;
}

.featured-img img {
  width: 100%;
}*/

.featired-item {
  flex: 1;
}

.home-content {
  margin-top: 10px;
}
